@import '../../styles/colors.scss';

.ProjectMenu {
  position: relative;
  padding-top: 12px; // Account for list lifting selected arrows upwards

  > .List {
    display: inline-block;
    width: 100%;
    padding: 0 10%;

    ul .List-Item {
      width: 15%;
      display: inline-block;
      vertical-align: top;
      &.selected { width: 40%; }
    }
  }
  &.paddingBefore1 > .List > ul > li:first-child { margin-left: 15%; }
  &.paddingBefore2 > .List > ul > li:first-child { margin-left: 30%; }
  &.paddingAfter1 > .List > ul > li:last-child { margin-right: 15%; }
  &.paddingAfter2 > .List > ul > li:last-child { margin-right: 30%; }

  > .pipe {
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    height: 30px;
    background: $LightGreyBackground;
  }
}
