@import '../../styles/colors.scss';


@keyframes microLoading {
  0% {
    background-color: $LightGray;
    width: 0;
  }
  50% {
    background-color: $Gray160;
    width: 16px;
  }
  100% {
    background-color: $LightGray;
    width: 0;
  }
}

.ProjectMenu {
  position: relative;
  margin-top: 12px; // Account for list lifting selected arrows upwards

  &.loading {
    .List {
      .CircleContainer.arrowNext{
        background-color: $White;
        border-color: $Gray160;
        .Icon {
          background-color: $White;
          content: '';
          color: $White;
        }
      }
    }
    @for $li from 0 through 5 {
      .List-Item:nth-child(#{$li}) {
        .ConditionPipe {
          .ConditionCount {
            background-color: $Gray160;
            border-color: $Gray160;
          }
        }
        .FlagWrapper {
          .FeatureFlag {
            .FlagTip {
              display: none;
            }
            $waves: 10;
            $divisor: 5;

            .Bar {
              animation: microLoading #{$waves / $divisor}s infinite;
            }

            @for $i from 0 through $waves - 1 {
              &:nth-child(#{$waves}n+#{$i}) {
                .Bar { animation-delay: #{1 + $i / $divisor - $li / 3}s; }
              }
            }
          }
        }
      }
    }
  }

  > .List {
    display: inline-block;
    width: 100%;
    padding: 0 15%;

    ul .List-Item {
      width: 15%;
      display: inline-block;
      vertical-align: top;
      &.selected { width: 40%; }
    }
  }
  &.paddingBefore1 > .List > ul > li:first-child { margin-left: 15%; }
  &.paddingBefore2 > .List > ul > li:first-child { margin-left: 30%; }
  &.paddingAfter1 > .List > ul > li:last-child { margin-right: 15%; }
  &.paddingAfter2 > .List > ul > li:last-child { margin-right: 30%; }

  > .pipe {
    position: absolute;
    top: 0;
    left: 14px;
    right: 0;
    height: 24px;
    background: $LightGray;
  }

  .sedimentation {
    position: absolute;

    top: 0;
    height: 24px;

    background: $Gray160;

    z-index: 1;

    &.left {
      left: 12px;
    }

    &.right {
      right: 12px;
    }
  }
  
}
