@import '../../../styles/colors';

.RegionCompanies {
  position: relative;

  width: 100%;
  height: 100%;

  .title {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 44px;

    padding-left: 33px;

    margin-bottom: 2px;

    background-color:  $LightGray;

    border-bottom-right-radius: 15px;

    span {
      display: block;

      &.companies {
        margin-top: auto;

        color: $Black77;
        font-size: 16px;
      }

      &.select {
        margin-bottom: 2px;

        color: $Gray160;
        font-size: 13px;
        font-style: italic;
      }
    }
  }

  ul {
    position: relative;
    top: -2px;

    height: calc(100% - 46px);

    margin: 0;

    list-style: none;

    overflow-y: auto;
    overflow-x: hidden;

    padding-left: 56px;

    &.hidden {
      visibility: hidden;
    }

    li {
      color: $Black77;
      font-size: 14px;
      font-family: 'FiraSansCondensedLight';
      width: 100%;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      button {
        border: none;
        margin: none;
        padding: none;
        background: none;
        font: inherit;
        color: inherit;

        &:hover, &:focus {
          color: $LinksTextButtons;
          text-decoration: underline;
        }
      }

      .asterisk {
        padding: 0;

        font-size: 21px;
        font-family: 'FiraSansCondensedBold';
        line-height: 16px;
        vertical-align: middle;

        color: $LinksTextButtons;
        background: none;

        border: none;
        outline: inherit;
      }
    }
  }
}
