@import '../../styles/colors.scss';

.ProjectDot{
  fill: $Gray160;
  opacity: 1;
  &.relevant {
    fill: $SearchKeyword;
  }
  &.filtered {
    fill: $Filtered;
    &.relevant {
      fill:$FilteredSearchKeyword;
    }
  }
  
}
