@import '../../styles/colors.scss';

.ProjectDot{
  fill: $Gray160;
  opacity: 1;
  &.Relevant {
    fill: $SearchKeyword;
  }
  &.Filtered {
    fill: $Filtered;
  }
  &.RelevantAndFiltered {
    fill: $FilteredSearchKeyword;
  }
}
