// TODO: Remove placeholder styles once location/application is confirmed
@import '../../../styles/fontVariables.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/legend.scss';

.GuideDetail {
  font-family: $fira-sans-condensed;
  text-align: center;
  background: #5050EA;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;

  .step-text {
    // 14.25% inscribes the square text inside the circular container
    margin: 14.25%;
    margin-bottom: 0;
    overflow-y: auto;
    height: calc(100% - 14.25% - 75px);

    h1 {
      font-size: 24px;
    }

    a {
      color: #fff;
      text-decoration: underline;
    }

    ul { text-align: left; }
  }

  .step-controls {
    height: 75px;

    .List {
      display: inline-block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    .CircleContainer.arrow.hidden {
      display: block;
      visibility: hidden;
    }

    .List-Item {
      .CircleContainer {
        margin: 0 8px;
        background: lightgrey;
      }

      &.selected .CircleContainer { background: gray; }
    }
  }
}
