@import '../../styles/legend.scss';

$ratio: 100% / $item-data-width-percentage;
$processed-button-width: $button-spacing / $ratio;

%indicators {
  display: inline-flex;

  .indicator {
    flex: 1 1 0;
    margin: 0.3em 0.25em;
  }

  .indicator:first-child {
    margin-left: 0;
  }

  .indicator:last-child {
    margin-right: 0;
  }
}

.InstrumentsLegend {
  @extend %legend;

  .headers {
    @extend %indicators;

    width: calc(#{$item-data-width-percentage} - #{$item-padding} - #{$processed-button-width});
    padding: 0 $item-padding;
    margin-left: $button-spacing;

    .indicator {
      text-align: center;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
