@import "../../styles/colors.scss";

.RegionConditionSummary {
  position: relative;
  height: 300px;

  .ChartContainer {
    position: absolute;
    border: 5px solid $LightGray;
    width: 410px;
    height: 221px;
    border-radius: 25px;
    margin-left: 100px;
  }

  .RegionConditionChart {
    position: absolute;
    bottom: 0;
    margin-left: 40px;
    padding-bottom: 70px;
  }

  .BorderBottom {
    width: 401px;
    height: 78px;
    background: $LightGray;
    border-radius: 0px 0px 25px 25px;
    margin-top: 138px;
  }

  .RegionConditionSummaryTitle {
    text-align: left;
    margin-top: -200px;
    color: $Gray160;
    font-size: 14px;
    margin-left: 28px;
  }

  .YAxis {
    height: 176px;
    float: left;
    font-size: 15px;
    color: $Gray160;
    margin-left: 17px;
    margin-top: 45px;
  }
};