.RegionConditionSummary {
  display: inline-block;

  .ChartContainer {
    border: 5px solid #e4e4e4;
    width: 410px;
    height: 210px;
    margin-left: -33px;
    border-radius: 25px;
  }

  .Chart {
    height: 100px;
    display: flex;
    align-items: flex-end;
    margin-top: -172px;
  }

  .BorderBottom {
    width: 401px;
    height: 75px;
    background: #e4e4e4;
    border-radius: 0px 0px 25px 25px;
    margin-top: 130px;
  }

  .RegionConditionSummaryTitle {
    text-align: left;
    margin-top: -197px;
    color: rgb(161, 168, 167);
    font-size: 14px;
    margin-left: 10px;
  }

  .YAxis {
    float: left;
    font-size: 15px;
    text-align: right;
    color: rgb(161, 168, 167);
    margin-left: -128px;
    margin-top: -165px;
  }
};