@import "../../../styles/fontVariables.scss";
@import "../../../styles/colors.scss";

.Tab {
  display: inline-block;
  margin-left: auto;
  margin-right: 20px;
  width: max-content;
  padding: 5px;
  font-size: 11px;
  color: $Gray160;
  border-top: 1px solid $LightGray;
  border-left: 1px solid $LightGray;
  border-right: 1px solid $LightGray;
  font-family: $fira-sans-condensed;
  background-color: white;
  position: relative;

  .tabText{
    vertical-align: top;
  }
  .iconSvg {
    padding-left: 5px;
    .filterIcon {
      stroke: $LinksTextButtons;
      stroke-width: 20;
      fill: none;
    }
    .findIcon{
      path {
        fill: $LinksTextButtons;
      }
      ellipse{
        fill: $White;
        stroke: $LinksTextButtons;
        stroke-width: 20;
      }
    }
  }

  .bottom {
    display: inline-block;
    vertical-align: bottom;

    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;

    border-bottom: 1px solid $LightGray;

    &.active {
      border-bottom: 1px solid white;
    }
  }
}
