@import "../../../styles/colors.scss";
@import "../../../styles/fontVariables.scss";
@import '../../../styles/legend.scss';


.WheelList {
  display: flex;
  align-items: center;
  left: 26.7%;
  right: 26.7%;
  top: 50%;
  position: absolute;
  color: $Black77;
  width: 50%;
  height: 45%;
  font-family: $fira-sans-condensed;
  font-size: 18px;
  transform: translate(0%, -50%);

  .labelContainer {
    position: absolute;
    top:50%;
    transform: translate(0 , -50%);
    height: 24px;
    width: 150%;
    overflow: visible;
    background-color: $LightGray;
    line-height: 24px;
    pointer-events: none;

    .label {
      position: absolute;
      right: 70%;
      width: 30%;
      text-align: center;
    }

    .selected {
      position: absolute;
      left: 30.45%;
      width: 110%;
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      background-color: $LightGray;
    }
  }

  .listContainer {
    width: 87%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 100%;
    white-space: nowrap;
    position: relative;
    .selected {
      .List-Item-Content {
        background-color: $LightGray;
      }
    }
  }

  .list {
    position: absolute;
    top: 50%;
    margin-left: 45%;
    transform: translate(0 , -50%);
  }

  .oneAway {
    color: $Gray160;
    font-family: $fira-sans-condensed-light;
    font-size: 16px;
  }

  .twoAway {
    color: $Gray160;
    font-family: $fira-sans-condensed-light;
    font-size: 13px;
  }

  .threeAway {
    color: $Gray160;
    font-family: $fira-sans-condensed-light;
    font-size: 11px;
  }
}
