@import "../../../styles/colors.scss";
@import "../../../styles/fontVariables.scss";
@import '../../../styles/legend.scss';


.WheelList {
  color: $Black77;
  font-family: $fira-sans-condensed;
  font-size: 18px;
  height: 100px;
  width: 300px;

  span {
    display: inline;
    margin-left: -100px;
  }

  .arrowPrevious {
    position: absolute;
    top: 5px;
    left: -30px;
  }

  .arrowNext {
    position: absolute;
    top: 15px;
    left: -30px;
  }

  .items-list ul {
    margin-top: -70px;
    margin-left: 180px;
    width: 50%;
    height: 130px;
    color: $Gray160;
    font-family: $fira-sans-condensed-light;
    font-size: 13px;
    overflow: auto;
  }

  .selected {
    pointer-events: none;
    position: absolute;
    font-size: 18px;
    font-family: $fira-sans-condensed-bold;
    color: $Black77;
    top: 50px;
    background: #E4E4E4;
  }
}


// if farther out... 10px;
// if even farther out...8px;
// names capped at 15 characters then followed by ellipsis