@import "../../../styles/colors.scss";
@import "../../../styles/fontVariables.scss";
@import '../../../styles/legend.scss';


.WheelList {
  display: flex;
  align-items: center;
  left: 26.7%;
  right: 26.7%;
  top: 50%;
  position: absolute;
  color: $Black77;
  width: 60%;
  font-family: $fira-sans-condensed;
  font-size: 18px;
  transform: translate(0%, -50%);

  .labelContainer {
    position: absolute;
    // top: calc(50% - 12px);
    height: 24px;
    width: 100%;
    overflow: visible;
    background-color: $LightGray;
    line-height: 24px;
    pointer-events: none;

    .label {
      position: absolute;
      right: 50%;
      width: 50%;
      text-align: center;
    }

    .selected {
      position: absolute;
      left: 50%;
      width: 50%;
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      background-color: $LightGray;
    }
  }

  .listContainer {
    width: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    white-space: nowrap;
    .selected {
      .List-Item-Content {
        background-color: $LightGray;
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: calc(50% - 12px);
  }

  .oneAway {
    color: $Gray160;
    font-family: $fira-sans-condensed-light;
    font-size: 16px;
  }

  .twoAway {
    color: $Gray160;
    font-family: $fira-sans-condensed-light;
    font-size: 13px;
  }

  .threeAway {
    color: $Gray160;
    font-family: $fira-sans-condensed-light;
    font-size: 11px;
  }
}
