@import "../../styles/colors.scss";

.KeywordExplorerButton {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 36px;
  width: 100px;
  overflow: hidden;
  background: $LightGray;

  .buttonText {
    width: 100%;
    height: 100%;
  }
  .descriptionText {
    position: absolute;
    right: 5%;

    width: calc(100% - 45px);
    height: 100%;

    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
  }
  .keywordExplorerCircle {
    height: 26px;
    width: 26px;

    position: absolute;
    top: 50%;
    left: 5%;

    transform: translateY(-50%);
  }
  .keywordExplorerCircle > circle {
    fill: $GuideFaded;
  }
}
