.DownloadsTextBox {
  overflow: auto;
  width: 600px;
  height: 200px;
  text-align: left;
  margin: 10px;
  white-space: nowrap;

  h1 {
    display:inline; 
    white-space:nowrap;
  }

  .ShareIcon {
    display: inline;
  }
}