{
  "presets": [
    ["@babel/preset-env",
    {
      "useBuiltIns": "entry"
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "macros",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "react-docgen",
    "add-react-displayname"
  ],
  "env": {
    "test": {
      "plugins": [
        "require-context-hook"
      ]
    },
  }
}
