@import '../../../styles/colors';
@import "../../../styles/browserSpecific.scss";

.Company {
  .companies {
    padding-left: 0;

    height: 6em;
    overflow-y: auto;

    list-style-type: none;
  }

  .bullets {
    padding-left: 1em;
  }
}
