.RegionCompanies {
  text-align: left;
  .title {
    font-size: 19px;
    margin: 0;
    padding: 0;
    height: 20px;
    background-color:  #e4e4e4;
    padding-left: 20px;
    padding-right: 100px;
    border-bottom-right-radius: 15px;
    color: #4d4e4e;
    display: inline-block;
  }

  ul {
    margin-top: 0;
    list-style: none;
    margin-left: 5px;
    max-height: 100px;
    overflow-y: scroll;
    li {
      font-size: 16px;
      font-family: 'FiraSansCondensedLight';
    }
    .asterisk {
      background: none;
      color: #d1057a;
      font-family: 'FiraSansCondensedBold';
      border: none;
      padding: 0;
      font-size: 21px;
      outline: inherit;
      line-height: 16px;
      vertical-align: middle;
    }
  }
}