@import "../../styles/fontVariables.scss";
@import "../../styles/colors.scss";

.ErrorBoundary {
  text-align: center;
  .errorMessage {
    h1 {
      font-family: $fira-sans-condensed-bold;
      font-size: 24px;
      color: $Black51;
      text-transform: uppercase;
      margin-bottom: 4px;
    }
  }
  .details {
    details {
      white-space: pre-wrap;
    }
  }
}