@import '../../styles/legend.scss';
@import '../../styles/svgs.scss';

$arrow-spacing: 0.6em;

%horizontalArrow {
  margin-top: calc(-#{$arrow-size} / 2);
  position: absolute;
}

.List {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .List-Arrow {
    text-align: left;
  }

  .CircleContainer.arrow {
    background-color: white;
    border: $list-selected;
    color: $list-selected-color;
    &.hidden { display: none; }
  }

  &.horizontal {
    .List-Item, .List-Arrow {
      display: table-cell;
      position: relative;
      vertical-align: middle;
    }

    .List-Item.selected {
      .arrowNext {
        @extend %horizontalArrow;
        top: 0;
        right: 0;
      }

      .arrowPrevious {
        @extend %horizontalArrow;
        left: 0;
      }
    }
  }

  &:not(.horizontal) {
    &.guideLine {
      ul {
        background: $list-line-url left no-repeat;
        background-size: $arrow-size 100%;
        background-position: 0 0;
      }
    }

    .List-Item {
      text-align: left;
      margin-left: $button-spacing;

      &.selected {
        background: white;
        margin-right: $button-spacing;

        .CircleContainer {
          float: left;
          margin: $arrow-spacing 0;

          &.arrowPrevious {
            margin-top: calc(-#{($arrow-size)} - #{$arrow-spacing});
          }
        }

        margin-left: 0;
      }
    }
  }
}
