@import '../../styles/grid';
@import '../../styles/fontVariables';
@import '../../styles/colors';

.ViewOne {
  @include grid((
    introduction: 116,
    explorer: 116,
    browseBy: 65,
    infoBar: 116,
  )) {
    height: 100%;

    .row.intro {
      height: 100px;
    }

    .introduction {
      // height: 100px;
      h1 {
        font-family: $fira-sans-condensed-bold;
        font-size: 24px;
        color: $Black51;
        text-transform: uppercase;
        margin-bottom: 4px;
      }

      span {
        font-family: $fira-sans-condensed;
        font-size: 14px;
        color: $Black19;
      }
    }

    .row.explorer {
      height: calc(100% - 200px);

      .explorer {
        height: 100%;
      }
    }

    .browseBy, .infoBar {
      // height: 40px;
    }
  }
}
