@import "../../styles/fontVariables.scss";
@import "../../styles/colors.scss";

.TrendButton {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 50px;
  width: 120px;
  border: 1px solid $Gray160;
  .Streamgraph {
    height: 55px;
    width: 170px;
    h1 {
      display: none;
    }
    .VictoryContainer {
      g[role="presentation"] {
        display: none;
      }
    }
  }
  .descriptionText {
    text-align: left;
    display: inline-block;
    padding-right: 1em;
    position: absolute;
    top: 15%;
    left: 5%;
  }
  p {
    padding: 0px;
    margin: 0px;
  }
  .trendArrow {
    position: absolute;
    right: 25%;
    bottom: 30%;
  }
}
