@import "../../../../styles/fontVariables.scss";
@import "../../../../styles/colors.scss";

.KeywordList {
  height: 300px;
  padding-top: 5px;
  overflow-y: auto;
  ul {
    list-style-type: none;
    li {
      margin: 0px 5px;
      padding: 10px 0px;
      border-bottom: 1px solid $DarkGray;
      .icon {
        display: inline-block;
        width: 25px;
        vertical-align: middle;
        .Icon {
          svg {
            width: 15px;
            height: 15px;
          }
        }
        .selectedIcon {
          color: $White;
          background-color: $LinksTextButtons;
          border-radius: 25px;
          border: 1px solid $LinksTextButtons;
        }
        .regularIcon {
          color: $LinksTextButtons;
          background-color: $White;
        }
        &.disabled {
          pointer-events: none;
          .regularIcon {
            color: $LightGray;
            background-color: $White;
          }
          .selectedIcon {
            pointer-events: all;
          }
        }

      }
      .keywordCategory {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100px;
        vertical-align: middle;
        padding: 4px 0;
        font-size: 16px;
        margin-right: 25px;
      }

      .BarContainer {
        width: calc(100% - 25px - 125px - 130px);
        vertical-align: middle;
        margin-bottom: 4px;
      }

      .conditionsText {
        display: inline-block;
        width: 130px;
        text-align: right;
        vertical-align: super;
        font-family: $fira-sans-condensed-light;
      }
    }
  }
}
