.ConditionDetails {
  display: grid;
  height: 300px;
  width: 800px;
  grid-template-rows: 10% 90%;
  grid-template-columns: 150px 400px auto;
  grid-template-areas:
    "header   header  blank"
    "list content details";

  position: relative;
  text-align: left;
  ul {
    margin: 0;
  }
  div {
    height: 100%;
    width: 100%;
    border: 1px solid rgba(255,0,255,.25);
    overflow-y: auto;
    overflow-x: hidden;
  }
  p {
    margin: 0;
  }
}

.header{
  grid-area: header;
}

.blank{
  grid-area: blank;
}

.list{
  grid-area: list;
}

.content{
  grid-area: content;
}

.details{
  grid-area: details;
}

div.marked {
  display: inline-block;
  height: 8px;
  width: 8px;
  background-color: red;
}

div.unmarked {
  display: inline-block;
  height: 8px;
  width: 8px;
  background: none;
}
