@import '../../styles/fontVariables.scss';
@import '../../styles/colors.scss';

.ConditionDetails {
  // float: right;

  max-width: 820px;
  height: 300px;

  font-family: $fira-sans-condensed-light;
  font-size: 12px;
  text-align: left;

  color: $Black77;

  overflow-x: hidden;
  overflow-y: hidden;

  // display: grid;
  // grid-template-rows: 24px 1fr;
  // grid-template-columns: 150px 450px;
  // grid-template-areas:
  //   "header header"
  //   "list   content";

  transition: padding-left 1s ease-in-out;

  padding-left: 220px;

  .listPane {
    display: inline-block;
    width: 27%;
    vertical-align: top;
    padding-left: 5px;
  }

  .contentPane {
    display: inline-block;
    width: 73%;
    vertical-align: top;
  }

  .contentHeading {
    font-family: $fira-sans-condensed;
    font-weight: bold;

    color: $Gray160;
  }

  &.expanded {

    // max-width: 820px;
    padding-left: 0px;

    .popout {
      visibility: visible;
      transition: visibility 0s;
    }
    // grid-template-columns: 150px 450px auto;
    // grid-template-areas:
    //   "header header  blank"
    //   "list   content details";
  }

  h1, h2, h3, h4, ul, p {
    margin: 0;
  }

  h1 {
    display: inline;

    font-family: $fira-sans-condensed;
    font-size: 14px;
  }

  h2 {
    display: inline;

    font-family: $fira-sans-condensed-bold;
    font-size: 14px;
    text-decoration: underline;

    color: $Black51;
  }

  h3 {
    padding-bottom: 0.8rem;

    color: $Gray160;
  }

  h4 {
    display: inline;

    font-family: $fira-sans-condensed;

    color: $Gray160;
  }

  button {
    background: none;
    border: inherit;
    padding: 0;
    margin: 0;

    outline: none;
  }

  .main {
    display: inline-block;
    width: 600px;
    height: 100%;
  }

  .popout {
    display: inline-block;
    visibility: hidden; /* Collapsed state */
    transition: visibility 0s 1s;
    vertical-align: top;
    width: calc(100% - 600px);
  }
}
