@import '../../styles/colors.scss';

.Arrow {
  .CircleContainer & {
    transform: translate(0);
  }

  
    
  line-height:10px;
  stroke-width: 1.3;
  stroke: $LinksTextButtons;
  fill: "none";
  display: block;
  stroke-linejoin: bevel;

  
}


