@import "../../../styles/fontVariables.scss";
@import "../../../styles/colors.scss";

.FilterContent {
  height: 160px;
  font-family: $fira-sans-condensed;
  user-select: none;

  .upperCase{
    text-transform: uppercase;
  }
  .titleText {
    text-align: left;
    padding: 5px;
    color: $VeryDarkGray;
  }
  .reset {
    text-align: right;
    padding: 5px;
    svg{
      fill: $general-text-2;
      stroke: $general-text-2;
      stroke-width: 20;
      height: 12px;
    }
  }

  .projectList {
    text-align: left;
    margin: 0;
    padding: 0px 0px 10px 4px;
    li {
      padding: 2px;
      display: inline-block;
      text-align: center;
      height:28px;
      .CircleContainer{
        overflow: inherit;
      }
      .regularCircle{
        color: $DarkGray;
        background-color: $LightGray;
      }

      .selectedOutsideCircle{
        color: $VeryDarkGray;
        background-color: $White;
      }
      .selectedInsideCircle{
        color: $White;
        background-color: $LinksTextButtons;
      }
    }
  }
  .projectStatus {
    list-style-type: none;
    float: left;
    margin: 0;
    padding-left: 5px;
    li {
      border: 1px solid $LinksTextButtons;
      padding: 5px;
      display: inline-block;
      border-radius: 15px;
      margin: 0px 10px 0px 0px;
      color: $VeryDarkGray;
    }
    .selectedProject {
      color: $White;
      background-color: $LinksTextButtons;
    }
  }
  .closeSearchBar {
    padding: 5px;
    margin: 5px 5px 0px 5px;
    background-color: $LinksTextButtons;
    color: $White;
    float: right;
    border: none;
  }
  .regularBackground{
    background-color: $LinksTextButtons;
  }
  .leftCurve {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: 1px;
    padding-right: 0px;
  }
  .rightCurve{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 1px;
    padding-left: 0px;
  }
}
