@import '../styles.scss';
@import '../../../styles/legend.scss';

.SmallMultiplesLegend .LegendItem {
  @extend %legendItem;

  &.all span {
    vertical-align: middle;
  }

  &.faded {
    @extend %faded;
  }

  .stream {
    @extend %legendItemData;

    display: inline-block;
  }

  .text {
    display: inline-block;
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
