@import "../../../styles/fontVariables.scss";
@import "../../../styles/colors.scss";

.BrowseByBtn {
  position: relative;
  font-family: $fira-sans-condensed;
  border: none;
  font-size: 16px;
  background: none;
  padding: 0 4px 0 0;
  display: inline-block;
  &-ButtonText{
    position: relative;
    display: inline-block;
    top: -13px;
    span{
      display: inline;
      position: relative;
      color: $Gray160;
    }
    .LastWord{
      color:$LinksTextButtons;
    }
  }
  &-Wheel{
    position: relative;
    display: inline;
    margin-left: -23px;
  }
}
