@import "../../../styles/fontVariables.scss";
@import "../../../styles/colors.scss";

.BrowseByBtn {
  display: inline-block;
  position: relative;
  padding: 0 4px 0 0;
  font-family: $fira-sans-condensed;
  font-size: 16px;
  border: none;
  background: none;

  &-ButtonText {
    display: inline-block;
    position: relative;
    top: -13px;
    color: $Gray160;

    .LastWord {
      display: inline-block;
      height: 1em;

      color: $LinksTextButtons;
      background: $White;
    }
  }

  &-Wheel {
    display: inline;
    position: relative;
    margin-left: -23px;

    z-index: -1;
  }
}
