@import '../../styles/colors';

.FeaturesLegend {
  display: table;
  height: auto;

  .footer {
    display: table;
    text-align: left;

    // Override WET template
    min-height: auto;
    width: auto;

    .Title {
      margin: 10px 0;
    }

    .ChartLegend {
      border-left: 1px solid $Gray160;
      margin-bottom: 10px;
      position: relative;
      width: 50px;

      .FlagDesc {
        display: inline-block;
        position: relative;
        width: 10px;
        line-height: 10px;
        top: -2px;
      }

      .FeatureFlag {
        display: inline-block;
        margin-left: -1px;
        width: 40px;

        &:nth-child(1) {
          .Bar {
            border: $White;
          }
        }
        .Bar {
          border: 1px solid $Gray160;

          &.withTip {
            border-right: none;
          }

          &.withTip::after {
            left: 100%;
            top: -1px;
            border-left-color: $VeryDarkGray !important;
          }

          &.withTip::before {
            z-index: 1;
            content: '';
            position: absolute;
            left: 100%;
            top: 0px;
            width: 0;
            height: 0;
            border-width: 4px;
            border-color: transparent;
            border-left-color: white;
            border-style: solid;
            display: inline-block;
          }
        }
      }
    }

    .ConditionsIcon {
      background-color: $Gray160;
    }

    .ConditionsDesc {
      vertical-align: top;
      margin-left: 10px;
      max-width: 150px;
      word-wrap: break-word;
      display: inline-table;
    }

  }

  .AssociatedComp {
    margin-top: 10px;
    display: table;
    text-align: left;

    .AssociatedDesc {
      margin-left: 10px;
      display: table;
    }
  }
}
