@import '../../styles/fontVariables';
@import '../../styles/colors';

.Disclaimer {
  max-width: 800px;
  margin: 24px auto 0;

  font-family: $fira-sans-condensed-light;
  font-size: 13px;

  color: $Black77;

  strong {
    font-family: $fira-sans-condensed;
    font-size: 13px;

    color: $Gray160;
  }
}
