$fira-sans-condensed: 'FiraSansCondensed', sans-serif;
$fira-sans-condensed-light: 'FiraSansCondensedLight', sans-serif;
$fira-sans-condensed-medium: 'FiraSansCondensedMedium', sans-serif;
$fira-sans-condensed-bold: 'FiraSansCondensedBold', sans-serif;
$fira-sans-condensed-semibold: 'FiraSansCondensedSemibold', sans-serif;
$fira-sans-condensed-italic: 'FiraSansCondensedItalic', sans-serif;
