@mixin grid-sizes($gridSizes, $viewPort) {

  $gridUnit: map-get($viewPort, "w") / 120;

  @each $className, $values in $gridSizes {
    .#{$className} {
      position: absolute;

      top: map-get($values, "y") * $gridUnit;
      left: map-get($values, "x") * $gridUnit;
      @if map-has-key($values, "w") {
        width: map-get($values, "w") * $gridUnit;
      }
      @if map-has-key($values, "h") {
        height: map-get($values, "h") * $gridUnit;
      }

      /* Uncomment this for a visual guide when tweaking the layout of grid components. */
      // outline: 1px dashed magenta;
    }
  }

  width: map-get($viewPort, "w");
  height: map-get($viewPort, "h");
  position: relative;
}

@mixin grid($gridSizes) {
  box-sizing: border-box;

  &.layoutOnly > section {
    background: #F1F3F4;

    &:after {
      content: attr(class);
      display: block;
      text-align: center;
      font-size: 50px;
    }

    > * { display: none; }
  }

  @include grid-sizes($gridSizes, (w: 100%, h: 100%));
  @media (min-width: 768px) { @include grid-sizes($gridSizes, (w: 746px, h: 538px)); }
  @media (min-width: 992px) { @include grid-sizes($gridSizes, (w: 968px, h: 698px)); }
  @media (min-width: 1200px) { @include grid-sizes($gridSizes, (w: 1168px, h: 843px)); }

  @content;
}
