.FeatureFlag {
  position: relative;
  width: 50px;
  display: flex;

  .Bar {
    height: 10px;
    display: inline-block;
  }

  .FlagTip {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-width: 5px;
    border-color: transparent;
    border-style: solid;
    display: inline-block;
  }
}
