@import "../../styles/breakpoints";

.FeatureFlag {
  position: relative;

  width: 20px;
  height: 10px;

  // Some user agents (and/or Storybook) leave 'text-align: center' on <div>
  text-align: left;

  .Bar {
    position: relative;

    height: 10px;
    display: inline-block;

    &.withTip::after {
      content: '';
      display: inline-block;

      position: absolute;
      left: 100%;

      width: 0;
      height: 0;

      border-width: 5px;
      border-color: transparent;
      border-left-color: inherit;
      border-style: solid;
    }
  }

  @include breakpoint("large") {
    height: 12px;

    .Bar {
      height: 12px;
      &.withTip::before { border-width: 5px; }
      &.withTip::after { border-width: 6px; }
    }
  }
}
