.ProjectMenu {
  position: relative;
  .EmptyListItems {
    height: 30px;
    top: 6px;
    display: inline-block;
  }
  .List {
    display: inline-table;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .List-Item {
      display: inline-table;
      position: relative;  

      &.selected {
        .ArrowNext {
          margin-top: -12px;
          position: absolute;
          top: 0;
          right: 0;
        }
        .ArrowPrevious {
          margin: 0;
          margin-top: -12px;
          position: absolute;
          left: 0;
        }
      }
    }
  }
}