.ProjectMenu {
  .List {
    ul {
      list-style-type: none;
    }
    .List-Item {
      display: inline-flex;
      &.selected {
        button {
          position: absolute;
          &.ArrowNext {
            margin-left: 70px;
            margin-top: -12px;
          }
          &.ArrowPrevious {
            margin: 0;
            margin-top: -12px;
          }
        }
      }
    }
  }
}