.ProjectMenu {
  .List {
    ul {
      list-style-type: none;
    }
    .List-Item {
      display: inline-table;
      position: relative;

      &.selected {
        .ArrowNext {
          margin-top: -12px;
          position: absolute;
          top: 0;
          right: 0;
        }
        .ArrowPrevious {
          margin: 0;
          margin-top: -12px;
          position: absolute;
          left: 0;
        }
      }
    }
  }
}