.ConditionList {
  vertical-align: top;
  max-width: 160px;
  padding-top: 20px;

  .barMarker, .BarContainer {
    display: inline-block;
    height: 6px;
  }

  .barMarker {
    width: 10px;
    &.marked { background-color: red; }
  }

  .BarContainer {

    &.binnedValue-1 {
      width: calc(33% - 10px);
    }

    &.binnedValue-2 {
      width: calc(67% - 10px);
    }

    &.binnedValue-3 {
      width: calc(100% - 10px);
    }
  }
}
