.ConditionList {

  padding-top: 20px;
  padding-right: 20px;

  .marked {
    display: inline-block;
    height: 6px;
    width: 10px;
    background-color: red;
  }

  .unmarked {
    display: inline-block;
    height: 6px;
    width: 10px;
    background: none;
  }

}
