.ConditionList {
  vertical-align: top;
  max-width: 160px;
  padding-top: 20px;

  .marked {
    display: inline-block;
    height: 6px;
    width: 10px;
    background-color: red;
  }

  .unmarked {
    display: inline-block;
    height: 6px;
    width: 10px;
    background: none;
  }
}
