@import "../../../styles/fontVariables.scss";
@import "../../../styles/colors.scss";

.WheelRay {
  opacity: 1;
  cursor: pointer;
  .textLabels {
    font-size: 0.14em;
    fill:$InnerColourCompany1;
  }

}
