@import './styles/fontVariables.scss';

@font-face {
  font-family: 'FiraSansCondensed';
  src: url('./fonts/FiraSansCondensed-Regular.eot');
  src: url('./fonts/FiraSansCondensed-Regular.eot') format('eot'),
       url('./fonts/FiraSansCondensed-Regular.woff2') format('woff2'),
       url('./fonts/FiraSansCondensed-Regular.woff') format('woff'),
       url('./fonts/FiraSansCondensed-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraSansCondensedMedium';
  src: url('./fonts/FiraSansCondensed-Medium.eot');
  src: url('./fonts/FiraSansCondensed-Medium.eot') format('eot'),
       url('./fonts/FiraSansCondensed-Medium.woff2') format('woff2'),
       url('./fonts/FiraSansCondensed-Medium.woff') format('woff'),
       url('./fonts/FiraSansCondensed-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraSansCondensedSemibold';
  src: url('./fonts/FiraSansCondensed-SemiBold.eot');
  src: url('./fonts/FiraSansCondensed-SemiBold.eot') format('eot'),
       url('./fonts/FiraSansCondensed-SemiBold.woff2') format('woff2'),
       url('./fonts/FiraSansCondensed-SemiBold.woff') format('woff'),
       url('./fonts/FiraSansCondensed-SemiBold.ttf') format('truetype');
}

.visualization {
  font-family: $fira-sans-condensed;
  font-size: 13px;
  color: #808080;

  * {
    box-sizing: border-box;
  }

  .buttonText {
    color: #D1057A;
  }
}
