@import "../../styles/fontVariables.scss";

.TrendButton {
  padding: 0;
  border: none;
  position: relative;
  cursor: pointer;

  > img {
    display: block;
    width: 300px;
    height: 72px;
  }

  > span {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 200px;
    text-align: left;
    padding: 8px 0 8px 12px;
    font-family: $fira-sans-condensed;
    font-size: 24px;
  }
}
