@import "../../styles/fontVariables.scss";
@import "../../styles/colors.scss";

$trends-overlay-button-color: $general-typography-links2;

.trendButton {
  padding: 0;
  border: none;
  cursor: pointer;
  left: 35%;
  top: 3%;
  position: absolute;

  button{
    background-color: transparent;
    border-color: transparent;
    
    img {
      display: block;
      height: 60px;
      width: 300px;
    }

    .buttonText>span {
      position: absolute;
      width: 200px;
      left: 3%;
      top: 0px;
      text-align: left;
      padding: 2px 4px 0px 20px;
      font-family: $fira-sans-condensed;
      font-size: 24px;
    }

    .streamGraphBackground{
      display: block;
      height: 60px;
      width: 300px;
      border: 1px solid $trends-overlay-button-color;
      svg {
        height: 40px;
        position: relative;
        left: 30%;
        top: 0;
        fill: $trends-overlay-button-color;
      }
    }
  }
}