.ShortcutInfoBar {
  text-align: left;
  .Content {
    float: right;
  }

  .clearfix { clear: both; }

  .InfoButton {
    cursor: pointer;
    text-decoration: none;
    border: none;
    display: inline-block;
    background: #D1057A;
    width: 30px;
    padding: 10px 5px;

    &.expanded {
      left: 200px;
    }
  }

  .Icons * {
    display: inline-block;
  }

  .About {
    cursor: pointer;

    button {
      cursor: pointer;
      text-decoration: none;
      border: none;
    }
  }

  .InfoBar {
    display: inline-block;
  }

  .AngleDoubleDown {
    background: white;
    vertical-align: middle;
  }

  .Envelope {
    background: white;
  }
}
