.ShortcutInfoBar {
  text-align: left;
  .Content {
    float: right;
  }

  .clearfix { clear: both; }

  .InfoButton {
    cursor: pointer;
    text-decoration: none;
    border: none;
    display: inline-block;
    background: #D1057A;
    width: 30px;
    height: 40px;
    padding: 0 5px;

    &.expanded {
      left: 200px;
    }
  }

  .Icons * {
    display: inline;
    margin-right: 2px;
  }

  .About {
    cursor: pointer;

    button {
      cursor: pointer;
      text-decoration: none;
      border: none;
      background: none;
      font-family: inherit;
      color: inherit;
      text-align: left;
      padding-left: 0;
    }
  }

  .InfoBar {
    display: inline-block;
    padding-left: 8px;
    line-height: 1.8;
  }

  .AngleDoubleDown {
    background: white;
    vertical-align: middle;
  }

  .Envelope {
    background: white;
  }
}
