@import "../../styles/fontVariables.scss";

.wheelContainer{
  height: 700px;
  position: relative;
  
  .movingContainer{
    height: 500px;
    width:500px;
    position: absolute;
  }
  
  .pullToSpin{
    position: absolute;
    top: 80px;
    right: -30px;
    transform: rotate(45deg);        
  }
}

