@import "../../styles/fontVariables.scss";

.wheelContainer{
  padding: 50px;
  height: 500px;
  width:500px;
  transform: rotate(90deg);
  
  .wheelRayLegendContainer {
    transform: rotate(90deg);
  }
}