@import '../../../styles/colors';

$square-size: 12px;
.FeaturesLegend .LegendItem {
  max-height: $square-size;

  margin: 0px;
  margin-top: 1px;
  padding: 0px;

  text-align: left;

  &.disabled {
    opacity: 0.3;
  }

  .color {
    display: inline-block;

    height: $square-size;
    width: $square-size;

    content: '';
  }

  .text {
    display: inline-block;

    position: absolute;
    left: $square-size;
    height: $square-size;
    width: calc(100% - #{$square-size});

    overflow: hidden;
    text-overflow: ellipsis;

    margin-top: 1px;

    padding-left: 10px;

    font-size: 12px;
    line-height: $square-size;
  }
}
