.DownloadPopup {
  border: 1px solid #b4b4b4;
  box-shadow: 0 5px 40px rgba(0,0,0,0.1), 12px 30px 20px rgba(0,0,0,0.1);

  width: 600px;
  height: 600px;
  .downloadIcon {
    position: relative;
    padding-left: 120px;
    padding-top: 20px;
  }
  .header {
    display: inline-block;
    width: 100%;
    position: relative;
    text-transform: uppercase;

    .title {
      margin: 0;
      padding: 0;
      font-size: 30px;
      display: inline-block;
      color: gray;
    }

  }
  .closeIcon {
    padding-left: 420px;



  }

  .content {
    margin: 40px;
    border: 1px solid #b4b4b4;
  }

  
}
