@import "../../styles/fontVariables.scss";
@import "../../styles/colors.scss";
.Wheel{
  width:100%;
  padding-top: 100%;
  position: relative;
  .svgContainer{
    position: absolute;
    height: 100%;
    width:100%;
    top: 0;
  }
  .MovingContainer{
    position: absolute;
    top: 0;
    width: 99%;
    height: 99%;
    svg {
      overflow: visible;
    }
  }

  .interactiveItems {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    pointer-events: none;
      
      .pullToSpinContainer{
        transform: scale(2);
      }
  }

  .PullToSpin{
    position: absolute;
    top: 0px;
    right: -50px;
  }

  button{
    position: absolute;
    top: 10px;
    &.plus{
      right: -10px
    }
    &.minus{
      right: -50px
    }
  }

  & > .list {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 60px;
    margin-top: -30px;
    background: #ccc;
  }
  .cls-1, .OutterCircles {
    fill: none;
  }

  .OutterCircles {
    stroke: $DarkGray;
  }
  .LetterCircle {
    stroke: none;
  }
}
