@import "../../styles/fontVariables.scss";
@import "../../styles/colors.scss";

.Wheel{
  width:100%;
  padding-top: 100%;
  position: relative;

  .svgContainer{
    position: absolute;
    height: 100%;
    width:100%;
    top: 0;
  }

  .MovingContainer{
    position: absolute;
    top: 0;
    width: 99%;
    height: 99%;

    svg {
      overflow: visible;
    }
  }

  .interactiveItems {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    pointer-events: none;

    .pullToSpinContainer { transform: scale(2); }
  }

  .PullToSpin{
    position: absolute;
    top: 0px;
    right: -50px;
  }
}
