@import "../../styles/fontVariables.scss";

.WheelContainer{
  width:100%;
  padding-top: 100%;
  position: relative;

  .MovingContainer{
    width:100%;
    top: 0;
    position: absolute;
  }

  .PullToSpin{
    position: absolute;
    top: 0px;
    right: -50px;
  }

  button{
    position: absolute;
    top: 10px;
    &.plus{
      right: -10px
    }
    &.minus{
      right: -50px
    }
  }

  .list {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 60px;
    margin-top: -30px;
    background: #ccc;
  }
}
