.MainInfoBar {

  hr {
    margin-bottom: 20px;
    width: 70%;
  }

  .TextButton {
    cursor: pointer;
    text-decoration: none;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 10px;

    &.selected {
      font-weight: 600;
    }
  }

  .TextBox {
    display: inline-flex;
  }

  .ShareIcons {
    display: inline-flex;
    margin: 10px 10px;
  }
}