@import '../../../styles/colors';

.RegDocs {
  p.iconContainer {
    .checkIcon {
      width: 28px;
      height: 28px;

      margin-right: 6px;

      circle {
        fill: none;
        stroke: $Black51;
        stroke-width: 8px;
      }

      polyline {
        fill: $Black51;
      }
    }

    span {
      line-height: 28px;
      vertical-align: top;
    }
  }
}
