@import '../../../styles/colors';
@import "../../../styles/browserSpecific.scss";

.RegDocs {
  width: 500px;
  height: 300px;

  p {
    margin-top: 0;

    &.iconContainer {
      .checkIcon {
        width: 28px;
        height: 28px;

        margin-right: 6px;

        circle {
          fill: none;
          stroke: $Black51;
          stroke-width: 8px;
        }

        polyline {
          fill: $Black51;
        }
      }

      span {
        line-height: 28px;
        vertical-align: top;
      }
    }
  }

  h3 {
    margin-bottom: 8px;

    font-size: 15px;
  }

  h4 {
    margin-top: 1rem;
    margin-bottom: 0.2rem;
  }

  strong {
    color: $Black51;
  }

  .PopupBtn.cancel {
    font-size: 18px;
  }
}

@include safariOnly {
  .RegDocs {
    p {
      margin-top: 0;
      width: 450px;
    }
  }
}
  