@import "../../../styles/fontVariables.scss";
@import "../../../styles/colors.scss";
.HighlightSummary {
  display: inline-block;

  margin-top: -1px;
  margin-left: auto;
  margin-right: auto;

  width: 100%;

  padding: 10px;
  border-top: 1px solid $LightGray;

  color: $VeryDarkGray;

  font-size: 9px;
  font-family: $fira-sans-condensed-italic;
  text-align: left;
  p {
    padding: 0px;
    margin: 0px;
  }
}
