@import '../../styles/colors.scss';
@import '../../styles/fontVariables.scss';
@import '../../styles/legend.scss';
@import '../../styles/svgs.scss';

$keywordColors: (
  0: #D7DBD9,
  1: #E2DCD7,
  2: #E0DCE0,
);

@each $index, $color in $keywordColors {
  @keyframes ConditionExplorerText#{$index} {
    0% { fill: rgb(17, 17, 17); }
    80% { fill: darken($color, 50%); }
    100% { fill: transparent; }
  }
}

.ConditionExplorer {
   position: relative;

   &, > svg {
     width: 100%;
     height: 100%;
     min-height: 500px;
   }

   svg { touch-action: none; }

  .keyword {
    user-select: none;

    @each $index, $color in $keywordColors {
      &.color#{$index} { fill: $color; }
    }

    // Performance optimizations
    rect, path, text {
      backface-visibility: hidden;
      transform-style: flat;
    }

    rect, path {
      opacity: 1;
      transition: opacity 1s 3s;
    }

    text {
      // TODO: These font styles are from the prototype, and not found in the
      // design document. We need to provide an issue for the design document
      // and have these recorded or changed.
      font-family: $fira-sans-condensed-light;
      fill: transparent;
      font-size: 9px;
    }

    @each $index, $color in $keywordColors {
      &.textPlaceholder.color#{$index} text {
        animation: ConditionExplorerText#{$index} 3.5s;
      }
    }

    &.textVisible {
      cursor: pointer;

      rect, path {
        /* Disable the transition when it becomes visible, so it appears immediately */
        transition: none;
        opacity: 0;
      }

      text {
        fill: $Black19;
        transition: fill 0.5s;
        animation: none;
      }

      &.selected {
        text {
          fill: $MainOrange;
        }
      }

      &.hidden {
        visibility: hidden;
      }
    }
  }
  .guideTransitionWrapper {
    fill: $Guide;
    transition: fill 0.75s ease-out 0.75s;
    &.selected {
      fill: $MainOrange;
      text {
        fill: $White;
        transition: fill 0.25s ease-out 0.25s;
      }
    }
  }

  .guideOutline {
    fill: transparent;
    stroke: $LinksTextButtons;
  }

  .guideText {
    pointer-events: none;

    text {
      font-size: 16px;
      font-family: $fira-sans-condensed;
      fill: $LightGray;
      transition: opacity 1s, fill 0.25s ease-out 0.25s;


      &.hidden {
        opacity: 0;
      }
    }
  }
}
