// TODO: CHANGE COLORS TO MAIN MAP
@import '../../../styles/fontVariables.scss';
@import '../../../styles/colors.scss';

.PullToSpin{
  transform-origin: top;

  .PullMessage{
    fill: $Gray160;
    font: $fira-sans-condensed-light;
    font-size: 10px;
  }

  #diagonalHatch{
    line {
      stroke: $Outline;
      stroke-width:1.3;
      stroke-opacity: 0.7;
    }
  }

  .PullSpinArrow{
    fill: $Outline;
    .ArrowLine{
      stroke: $Outline;
      stroke-miterlimit:10;
      stroke-width:0.72;
      fill:none;
    }
  }

  .PullSlider{
    cursor: pointer;
    &:focus{
      outline: none;
    }
    &:focus .PullSpinSvgShadow {
      width: 55px;
      height: 47px;
      opacity: 0.5;
    }
  }

  .PullSpinSvgShadow{
    opacity:0.3;
    mix-blend-mode: multiply;
  }

  .PullSpinRect{
    stroke: $Outline;
    stroke-miterlimit:10;
    stroke-width: 0.5;
    stroke-opacity: 0.7;
  }
}
