// TODO: CHANGE COLORS TO MAIN MAP
@import '../../../styles/fontVariables.scss';
@import '../../../styles/colors.scss';

.PullToSpin{
  transform-origin: top;

  .PullMessage{
    fill: $Gray160;
    font: $fira-sans-condensed-light;
    font-size: 10px;
  }

  .diagonalHatch{
    fill:none;
    stroke: $Outline;
    stroke-miterlimit:10;
    stroke-width:1.5;
    opacity: 0.9;
  }

  .PullSpinArrow{
    fill: $Outline;
    .ArrowLine{
      stroke: $Outline;
      stroke-miterlimit:10;
      stroke-width:0.72;
      fill:none;
    }
  }

  .PullSlider{
    opacity:0.5;
    &:focus{
      outline: none;
    }
    &:focus .PullSpinSvgShadow {
      width: 55px;
      height: 47px;
      opacity: 1;
    }
  }

  .PullSpinSvgShadow{
    opacity:0.6;
    mix-blend-mode: screen;
  }

  .PullSpinRect{
    stroke: $Outline;
    stroke-miterlimit:10;
  }
}
