.Modal {
  background-color: #fff;
  padding: 40px;
  text-align: left;
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);

  & + .backdrop {
    background-color: rgba(255, 255, 255, 0.7);
  }
}
