// TODO: CHANGE COLORS TO MAIN MAP
.PullToSpin{
  height: 110px;
  transform-origin: top;
  transform: rotate(2deg);
  .PullMessage{
    fill: #A1A8A7;
  }
  line{
    fill:none;
    stroke:#d1057a;
    stroke-miterlimit:10;
    stroke-width:1.15;
    opacity: 0.9;
  }
  .PullSpinArrow{
    fill:#d1057a;
    .ArrowLine{
      stroke:#d1057a;
      stroke-miterlimit:10;
      stroke-width:0.72;
      fill:none;
    }
  }
  .PullSlider{
    opacity:0.5;
  }
  .PullSpinSvgShadow{
    width:48px;
    height:40px;
    opacity:0.6;
    mix-blend-mode: screen;
    transform: translate(311.5px, -4.5px);
  }
  .PullSpinRect{
    width:13.52px;
    height:33.12px;
    transform:translate(159.71px, 300.23px) rotate(-60.92deg);
    fill:#fff;
    stroke:#d1057a;
    stroke-miterlimit:10;
  }
}