@import '../../styles/grid';
@import '../../styles/colors';
@import '../../styles/fontVariables';

.ViewThree {
  @include grid((
    features: 21,
    legend: 37,
    chart: 56,
    featureDescription: 59,
    typesDescription: 56,
    selectedCompany: 38,
    conditionDetails: 77,
  ));


  /**
   *  Styling for the preview release. None of the code below should be
   *  considered final or correct.
   */
  .firstRow {

    height: 320px;
    overflow: hidden;
  }

  .secondRow {
    height: 200px;

    .typesDescription {
      height: 100%;
    }
  }

  .thirdRow {
    height: 250px;

    .selectedCompanyHeader {

      height: 24px;

      background-color: $LightGray;

      display: inline-block;
      width: 100%;

      padding-left: 10px;
      padding-right: 10px;

      text-align:left;
      line-height: 24px;

      h1, h2 {
        margin: 0;
      }

      h1 {
        display: inline;

        font-family: $fira-sans-condensed;
        font-size: 14px;
      }

      h2 {
        display: inline;

        font-family: $fira-sans-condensed-bold;
        font-size: 14px;
        text-decoration: underline;

        color: $Black51;
      }

    }

    .conditionDetails {

      border: 1px dashed $LinksTextButtons;
      text-align: center;
      span {
        font-size: 50px;
      }
    }
  }
  // End of preview styling
}
