.ViewThree {
  box-sizing: border-box;
  width: 1120px;
  height: 900px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40% 25% 35%;
  row-gap: calc(97px/12);
  column-gap:  calc(97px/10);
  margin: calc(97px/12*2) 0;

  .features {
    grid-column: span 2;
    grid-row: span 1;
  }

  .legend {
    grid-column: span 4;
    grid-row: span 1;
  }

  .chart {
    grid-column: span 6;
    grid-row: span 1;
  }

  .featureDescription {
    grid-column: span 6;
    grid-row: span 1;
  }

  .typesDescription {
    grid-column: span 6;
    grid-row: span 1;
  }

  .selectedCompany {
    grid-column: span 4;
    grid-row: span 1;
  }

  .conditionDetails {
    grid-column: span 8;
    grid-row: span 1;
  }
}

.ViewThree.layoutOnly > section {
  background: #F1F3F4;

  &:after {
    content: attr(class);
    display: block;
    text-align: center;
    font-size: 50px;
  }

  > * { display: none; }
}
