@import "../../styles/borders.scss";
@import "../../styles/colors.scss";
@import "../../styles/svgs.scss";
@import "../../styles/fontVariables.scss";

$select-side-padding: 0.4em;

.FeaturesMenu {
  position: absolute;

  height: 100%;
  width: 100%;
  text-align: left;

  &:not(.dropDown) {
    .title {
      position: absolute;
      top: 0;
      left: auto;

      color: $Black77;
      font-size: 18px;

      white-space: nowrap;
    }

    .List {
      margin-top: 32px;

      .List-Item-Content {
        color: $Gray160;
        font-size: 15px;
        border: $list-width $list-style $Gray160;
        padding: 0.2em 1em;
        margin-top: 10%;
      }

      .selected .List-Item-Content {
        color: $Black77;
        background-color: $LightGray;
        border: $list-selected;
        font-family: $fira-sans-condensed-bold;
        font-weight: normal;
      }
    }
  }
  &.dropDown {

    margin-bottom: 8px;

    .Dropdown {
      width: 100px;
      background-color: $LightGray;
      select{
        border: none;
      }
    }


    .title {
      color: $Gray160;
      font-weight: bold;
      padding-right: 0.5em;
      margin: auto 0;
    }
  }
}
