@import "../../styles/borders.scss";
@import "../../styles/colors.scss";
@import "../../styles/svgs.scss";
@import "../../styles/fontVariables.scss";

$select-side-padding: 0.4em;

.FeaturesMenu {
  text-align: left;

  &:not(.dropDown) {
    .title {
      color: $Black77;
      font-size: 18px;
    }

    .List {
      .List-Item-Content {
        color: $DarkGray;
        font-size: 16px;
        font-weight: bold;
        border: $list-width $list-style $Gray160;
        padding: 0.2em 1em;
        margin-top: 1em;
      }

      .selected .List-Item-Content {
        color: $Black51;
        background-color: $LightGray;
        border: $list-selected;
        font-family: $fira-sans-condensed-bold;
      }
    }
  }
  &.dropDown {

    margin-bottom: 8px;

    .Dropdown {
      width: 100px;
      background-color: $LightGray;
      select{
        border: none;
      }
    }


    .title {
      color: $Gray160;
      font-weight: bold;
      padding-right: 0.5em;
      margin: auto 0;
    }
  }
}
