@import "../../styles/fontVariables.scss";
@import "../../styles/colors.scss";

.SearchBar {
  position: absolute;
  width: 425px;
  text-align: left;
  color: $VeryDarkGray;

  background-color: white;
  z-index: 999;

  .SelectionTab {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
    text-align: left;
  }

  .SuggestionPrompt {
    position: absolute;
    top: -6px;
    left: 390px;
    &.excludePrompt {
      top: 85px;
      left: 390px;
    }
  }

  .contentPane {
    margin-top: -1px;
    width: 425px;

    border: 1px solid $LightGray;
    background-color: white;
  }
}
