@import "../../styles/borders.scss";

%faded {
  opacity: 0.2;
}

.SmallMultiplesLegend {
  text-align: left;
  font-size: 0.85em;

  .List.faded {
    button {
      @extend %faded;
    }
  }

  .List .selected .LegendItem {
    font-size: 1.25em;
    border: $list-selected;
    background-color: white;
    padding: 0.4em;
  }
}
