.WheelContainer{
  .RingBackground {
    &.Location{
      fill: #F4CE5A;
    }
    &.Company{
      fill: #30298c;
    }
  }

  .Lines {
    &.Location line{
      stroke: #E0A531;
    }
    &.Company line{
      stroke: #4054b7;
    }
    stroke-width: 18px;
  }

  .cls-1, .OutterCircles {
    fill: none;
  }

  .OutterCircles {
    stroke: #707070;
  }

  .ClippedBackground {
    clip-path: url(#clip-path);
  }

  .RingOutline {
    fill: #d1057a;
  }
  .LetterCircle {
    stroke: none;
  }
}


