.Ring{
  width: 100%;
  .RingBackground {
    &.location{
      fill: #F4CE5A;
    }
    &.company{
      fill: #30298c;
    }
  }

  .Lines {
    &.location line{
      stroke: #E0A531;
    }
    &.company line{
      stroke: #4054b7;
    }
    stroke-width: 18px;
  }

  .RingOutline {
    circle{
      stroke:#d1057a; 
      stroke-width:2; 
      fill: none;
    }
  }
}


