@import "../../../styles/colors.scss";

.Ring{
  width: 100%;
  .RingBackground {
    &.location{
      fill: $InnerColourLocation2;
    }
    &.company{
      fill: $InnerColourCompany2;
    }
  }

  .Lines {
    &.location line{
      stroke: $InnerColourLocation1;
    }
    &.company line{
      stroke: $InnerColourCompany1;
    }
    stroke-width: 18px;
  }

  .RingOutline {
    circle{
      stroke:$Outline; 
      stroke-width:2; 
      fill: none;
    }
  }
}


