.LoadingGuide {
  position: relative;
  min-height: 200px;
  // Try to fill the screen. 518px=Header+Footer
  height: 100%;

  .Guide {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
