@import '../../../styles/colors.scss';

.Details {
  display: inline-block;

  max-width: 220px;
  max-height: 300px;

  overflow-x: hidden;
  white-space: nowrap;

  .filler {
    height: 24px;
    width: 100%;

    background-color: $LightGray;
  }

  .content {
    padding: 20px;
  }
}
