@import '../../../styles/colors.scss';
@import '../../../styles/fontVariables.scss';

.Details {
  display: inline-block;

  width: 100%;
  max-height: 100%;

  h3 {
    white-space: normal;
    font-family: $fira-sans-condensed;
    font-size: 14px;
    font-weight: normal;

    color: $Gray160;
  }

  .filler {
    height: 24px;
    width: 100%;

    background-color: $LightGray;
  }

  .content {
    padding-top: 20px;
    padding-left: 20px;

    width: 100%;
    height: calc(100% - 24px);
  }
}
