.selectedCircle{
  stroke: rgb(209, 5, 122);
  fill: transparent;
} 

.line{
  stroke:rgb(209, 5, 122);
  stroke-dasharray: 5 5 5;
}

.arrow{
  stroke: rgb(209, 5, 122);
  stroke-width: 2;
  fill: rgb(209,5,122);
}