.InstrumentBubble {
  .bubbleTitle {
    text-transform: uppercase;
  }
  .CommodityCircle {
    fill: transparent;
    stroke: #EDEDED;
    stroke-width: 2;
  }

  .InstrumentTextCircle {
    fill: transparent;
    stroke: transparent;
  }
}
