@import "../../../styles/colors.scss";

.BubbleLegend {
  margin-top: 10px;
  width: 250px;
  text-align: left;
  font-size: 16px;
  color: $VeryDarkGray;

  .Ellipse {
    fill: $LightGray;
  }

  .Text {
    fill: $general-text-2;
  }
}
