@import '../../styles/colors.scss';
@import "../../styles/fontVariables";

.FeatureTypesDescription {
  height: 100%;
  width: 100%;
  text-align: left;
  overflow-y: auto;

  padding-right: 10px;

  color: $Black77;

  h4 {
    color: $Gray160;
    margin-bottom: 0.1rem;
    font-size: 14px;
    font-family: $fira-sans-condensed;
  }

  .other h4 {
    font-size: 13px;
  }

  p {
    margin-top: 0;
    font-family: $fira-sans-condensed-light;
    font-size: 13px;

    &.info {
      font-size: 10px;
    }
  }
}
