@import '../../styles/legend.scss';
@import '../../styles/colors.scss';
@import '../../styles/breakpoints';

%faded {
  opacity: 0.2;
}

.SmallMultiplesLegend {
  height: 100%;
  @extend %legend;

  .List {
    height: 100%;

    ul {
      height: 100%;
    }
  }

  .List.faded {
    .CircleContainer {
      @extend %faded;
    }
  }

  .List .List-Item {
    height: 6.5%;
    @include breakpoint("medium") { height: 7%; }

    .List-Item-Content {
      height: 100%;
    }

    &.selected {
      height: 27.4px;

      .LegendItem {
      border: 1px solid $LinksTextButtons;
      margin: 0 2px;
      padding: none;
      }
  }

  }
}
