@import '../../../styles/legend.scss';

.InstrumentsLegend .LegendItem {
  @extend %legendItem;

  span {
    vertical-align: middle;
  }

  .indicators {
    @extend %legendItemData;

    display: inline-flex;

    .indicator {
      flex-grow: 1;
      margin: 0.3em 0.25em;
    }

    .indicator:first-child {
      margin-left: 0;
    }

    .indicator:last-child {
      margin-right: 0;
    }
  }
}
