@import '../../styles/colors.scss';

.LocationWheelMinimap {
  max-height: 100px;
  max-width: 100px;

  .region {
    fill: $InnerColourLocation1;
  }

  .province {
    fill: none;
    stroke: $DarkGray;
    stroke-width: 1;
  }

}
