@import '../../styles/colors.scss';

.LocationWheelMinimap {
  position: relative;

  height: 100%;
  max-width: 96px;

  svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .region {
      fill: $InnerColourLocation1;
    }

    .province {
      fill: none;
      stroke: $DarkGray;
      stroke-width: 1;
    }
  }

}
