@import "../../../styles/colors.scss";

.RegionConditions {
  position: relative;
  width: 100%;

  height: 90px;

  .hidden {
    visibility: hidden;
  }

  .ChartContainer {
    position: absolute;

    bottom: 0;
    left: 33px;

    width: calc(100% - 33px);
    height: 100%;

    border: 3px solid $LightGray;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom: none;
  }

  .RegionConditionChart {
    position: absolute;

    height: 45px;
    bottom: 0;
    left: 24px;
    right: 24px;
  }

  .RegionConditionsTitle {
    margin-top: 8px;
    margin-left: 8px;

    font-size: 13px;
    white-space: nowrap;
    text-align: left;

    color: $Gray160;
  }

  .YAxis {
    position: absolute;

    bottom: 2px;
    right: calc(100% - 36px);

    height: 50px;

    font-size: 22px;

    color: $Gray160;

    text {
      fill: $Gray160;
    }

    rect {
      fill: $LightGray;
      stroke: $LightGray;
      stroke-width: 3px;
    }
  }
  ul {
    .hidden {
      visibility: hidden;
    }
  }
};
