@import "../../../styles/fontVariables.scss";
@import "../../../styles/colors.scss";

.SearchContent {
  display: inline-block;
  vertical-align: top;

  text-align: left;
  padding: 10px 10px 5px 10px;
  font-family: $fira-sans-condensed;

  .reset {
    text-align: right;
    padding-right: 0px;
    padding-bottom: 5px;
    vertical-align: middle;
    padding-right: 30px;
    span {
      padding-right: 2px;
    }
    svg{
      height: 12px;
      fill: $general-text-2;
      stroke: $general-text-2;
      stroke-width: 20;
    }
  }
  .upperCase{
    text-transform: uppercase;
  }
  .lowerCase{
    text-transform: lowercase;
  }

  .includeElements {
    display: flex;
    justify-content: space-between;
    .includeText {
      display: inline-block;
      flex-basis: fit-content;
      text-align: right;
      span {
        padding: 0px;
      }

      strong {
        font-family: $fira-sans-condensed-bold;
        font-weight: normal;
      }

      .dropDown {
        select {
          text-transform: uppercase;
          width: auto;
          padding-right: 20px;
          height: 1.4em;
        }
      }
    }
    span {
      color: $VeryDarkGray;
      padding: 0px 10px;
    }
    .input {
      display: inline-block;
      flex: 1;
      max-width: 70%;
      padding-left: 8px;
      .searchBar {
        width: calc(100% - 32px);
        border-radius: 10px;
        border-color: $DarkGray;
        border-width: 1px;
        caret-color: $SearchKeyword;
        padding-left: 6px;
      }
      .addInput {
        width: 32px;
        background: transparent;
        line-height: 10px;
        border: none;
        padding: 1px 14px 2px 0;
        div {
          transform: inherit;
        }
        .plusIcon {
          color: $LinksTextButtons;
          height: 14px;
          width: 14px;
        }
        &.disabled {
          pointer-events: none;
          .plusIcon {
            color: $LightGray;
          }
        }
      }
    }
  }

  .searchWords {
    margin: 10px;
    padding: 0px;
    max-width: 375px;
    height: 50px;
    li {
      list-style-type: none;
      display: inline-block;
    &.liText {
      width: 86px;
      vertical-align: top;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      border: 1px solid $LightGray;
      font-size: 11px;
      padding: 2px 8px;
      border-radius: 10px;
      margin: 0px 0px 10px 5px;
      color: $SearchKeyword;
    }
    &.deleteButton {
      button {
        border: none;
        padding: 0px;
        background-color: transparent;
        width: 20px;
        svg {
          width: inherit;
        }
      }
    }
  }
  }
  .highlightConditions {
    font-size: 10px;
    background-color: $LightGray;
    border: 1px solid $MainOrange;
    padding: 10px;
    font-size: 9px;
    font-family: $fira-sans-condensed-italic;
    color: $VeryDarkGray;
    border-radius: 10px;
    padding: 10px;
    .anyText {
      display: inline-block;
      padding-left: 50px;
      span {
        padding: 0px;
        color: $VeryDarkGray;
      }
    }
    .keywordsText {
      padding-left: 5px;
      max-width: 200px;
      display: inline-block;
      vertical-align: top;
      span {
        padding: 0px;
        color: $VeryDarkGray;
      }
    }
  }
  .advancedSearchText {
    font-family: $fira-sans-condensed;
    text-align: right;
    button {
      border: none;
      background-color: transparent;
      padding-right: 0px;
    }
    span {
      color: $LinksTextButtons;
      padding-right: 2px;
    }
  }

  .Icon {
    display: inline;
    padding-left: 5px;
    .timesIcon {
      vertical-align: sub;
      width: 2%;
      color: $DarkGray;
    }
  }
  .closeSearchBar {
    text-align: right;
    button {
      padding: 5px;
      margin: 10px -5px 0px 5px;
      background-color: $LinksTextButtons;
      color: $White;
      border: none;
      width: 80px;
    }
  }
}
