@import "../../../styles/fontVariables.scss";
@import "../../../styles/colors.scss";

.SearchContent {
  border-top: none;
  border-right: 1px solid $LightGray;
  border-bottom: 1px solid $LightGray;
  border-left: 1px solid $LightGray;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  text-align: left;
  padding: 25px 10px 5px 10px;
  font-family: $fira-sans-condensed;

  .upperCase{
    text-transform: uppercase;
  }
  .lowerCase{
    text-transform: lowercase;
  }
  .includeText {
    display: inline-block;
    span {
      padding: 0px;
    }
    .dropDown { // Styles for using Dropdown from FeaturesMenu
      display: inline-block;
      .title{
        display: none;
      }
      select {
        width: 50px;
      }
    }
  }
  span {
    color: $VeryDarkGray;
    padding: 0px 10px;
  }
  .input {
    display: inline-block;
    float: right;
    .searchBar {
      width: 210px;
      border-radius: 510px;
      border-color: $DarkGray;
      border-width: 1px;
      caret-color: $SearchKeyword;
    }
  }
  .searchWords {
    margin: 10px;
    padding: 0px;
    max-width: 375px;
    height: 50px;
    li {
      list-style-type: none;
      display: inline-block;
    &.liText {
      width: 86px;
      vertical-align: top;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      border: 1px solid $LightGray;
      font-size: 11px;
      padding: 2px 8px;
      border-radius: 10px;
      margin: 0px 0px 10px 5px;
      color: $SearchKeyword;
    }
    &.deleteButton {
      button {
        border: none;
        padding: 0px; 
        svg {
          width: inherit;
        }
      }
    }
  }
  }
  .highlightConditions {
    font-size: 10px;
    background-color: $LightGray;
    color: $general-text-2;
    border: 1px solid $MainOrange;
    padding: 10px;
    font-size: 12px;
    font-family: $fira-sans-condensed-light;
    border-radius: 10px;
    padding: 10px;
    transform: skew(-5deg);
    .anyText {
      display: inline-block;
      padding-left: 50px;
      span {
        padding: 0px;
        color: $general-text-2;
      }
    }
    .keywordsText {
      padding-left: 5px;
      max-width: 200px;
      display: inline-block;
      vertical-align: top;
      span {
        padding: 0px;
        color: $general-text-2;
      }
    }
  }
  .advancedSearchText {
    text-align: right;
    button {
      border: none;
    }
    span {
      color: $LinksTextButtons;
    }
  }
  .addInput {
    background: transparent;
    line-height: 10px;
    border: none;
    .plusIcon {
      color: $LinksTextButtons;
    }
    div {
      transform: inherit;
    }
  }
  .Icon {
    display: inline;
    padding-left: 5px;
    .timesIcon {
      vertical-align: sub;
      width: 2%;
      color: $DarkGray;
    }
  }
  .close {
    text-align: right;
    button {
      padding: 5px;
      margin: 5px 5px 0px 5px;
      background-color: $LinksTextButtons;
      color: $White;
      border-color: $LinksTextButtons;
    }
  }
}
