@import '../../styles/colors';
@import '../../styles/fontVariables';

$bubbleSize: 36px;

.CountBubble {
  position: relative;

  width: $bubbleSize;
  height: $bubbleSize;

  border-radius: 50%;

  color: $Gray160;
  background-color: $LightGray;

  line-height: $bubbleSize;
  vertical-align: middle;

  text-align: center;

  font-family: $fira-sans-condensed;

  .count {
    font-size: 18px;

    &.small {
      font-size: 15px;
    }
  }

  .text {
    position: absolute;
    left: 100%;

    font-size: 12px;
  }
}
