.App {

  // Base states + transitions

  .Guide {
    // display: none;
    z-index: 999;
    transition: all 1s ease-in-out;
  }


  .ViewOne {
    position: absolute;
    top: 0;

    height: 100%;
    border: 1px solid magenta;

    .row {
      &.intro {
        position: relative;
        top: 0px;
        transition: top 1s ease-in-out;
      }
      &.explorer {
        position: relative;
        top: 0px;
        transition: top 1s ease-in-out;
      }
      &.buttons {
        position: absolute;
        bottom: 0;
        .BrowseByBtn.location {
          transition: opacity 1s ease-in-out;
          opacity: 1
        }

        .ShortcutInfoBar {
          transition: opacity 1s ease-in-out;
          opacity: 1;
        }
      }
    }
  }

  .ViewTwo {
    // opacity: 0;
    .searchHeader,
    .wheel,
    .companyBreakdown,
    .menus {
      transition: opacity 1s ease-in-out;
    }

    .ConditionDetails {
      .listPane,
      .popout,
      .ProjectHeader,
      .contentPane {
        transition: opacity 1s ease-in-out;
      }
    }
  }

  // .ViewTwo {
  //   transition: opacity 1s ease-in-out;
  // }

  .ViewThree {
    transition: opacity 1s ease-in-out;
  }

  .Footer {
    position: absolute;
    top: 900px;
  }




  &.transition-state-0 {
    .Guide {
      left: 15.3%;
      top: 32%;
    }
  }

  &.transition-state-1 {
    .Guide {
      left: 30%;
      top: 63%;
      // transition: left 2s ease-in-out, bottom 2s ease-in-out;
    }
    .ViewOne {
       .row {
        &.intro {
          top: -400px;
        }
        &.explorer {
          top: -400px;
        }
        &.buttons {
          .BrowseByBtn.location {
            opacity: 0.3;
          }

          .ShortcutInfoBar {
            opacity: 0.3;
          }
        }
      }
    }

    .ViewTwo {
      // opacity: 0;
      .searchHeader,
      .wheel,
      .companyBreakdown,
      .menus {
        opacity: 0;
      }

      .ConditionDetails {
        .listPane,
        // .popout,
        .ProjectHeader,
        .contentPane {
          // transition: opacity 1s ease-in-out;
          opacity: 0;
        }
      }
    }
  }

  &.transition-state-2 {
    .Guide {
      left: 42%;
      top: 83%;
    }

    .ViewOne {
      .row {
        &.intro,
        &.explorer {
          top: -800px;
        }

        &.buttons {
          .BrowseByBtn.location,
          .ShortcutInfoBar {
            opacity: 0;
          }
        }
      }
    }

    .ViewTwo {
      // opacity: 1;
      .searchHeader,
      .wheel,
      .companyBreakdown,
      .menus {
        opacity: 0;
      }

      .ConditionDetails {
        .listPane,
        // .popout,
        .ProjectHeader {
          opacity: 0;
        }

        .contentPane {
          // transition: opacity 1s ease-in-out;
          opacity: 1;
        }
      }
    }
  }

  &.transition-state-3 {
    .Guide {
      left: 53%;
      top: 15%;
    }

    .ViewTwo {
      // opacity: 1;
      .searchHeader,
      .wheel,
      .companyBreakdown {
        opacity: 0;
      }

      .menus {
        opacity: 1;
      }

      .ConditionDetails {
        .listPane,
        // .popout,
        .ProjectHeader {
          opacity: 0;
        }

        .contentPane {
          // transition: opacity 1s ease-in-out;
          opacity: 0.3;
        }
      }
    }
  }

  &.transition-state-4 {
    .Guide {
      left: 29%;
      top: 65%;
    }

    .ViewTwo {
      // opacity: 1;
      .searchHeader,
      .wheel,
      .companyBreakdown {
        opacity: 0;
      }

      .menus {
        opacity: 0.3;
      }

      .ConditionDetails {
        .listPane,
        // .popout,
        .ProjectHeader {
          opacity: 1;
        }

        .contentPane {
          // transition: opacity 1s ease-in-out;
          opacity: 0.3;
        }
      }
    }
  }

  &.transition-state-5 {
    .Guide {
      left: 47.8%;
      top: -2%;
    }

    .ViewTwo {
      // opacity: 1;
      .searchHeader,
      .wheel {
        opacity: 0;
      }

      .companyBreakdown {
        opacity: 1;
      }

      .menus {
        opacity: 0.3;
      }

      .ConditionDetails {
        .listPane,
        .ProjectHeader,
        .contentPane {
          opacity: 0.3;
        }
      }
    }
  }

  &.transition-state-6 {
    .Guide {
      left: 2%;
      top: 60%;
    }

    .ViewTwo {
      // opacity: 1;
      .searchHeader {
        opacity: 0;
      }

      .wheel {
        opacity: 1;
      }

      .companyBreakdown,
      .menus {
        opacity: 0.3;
      }

      .ConditionDetails {
        .listPane,
        .ProjectHeader,
        .contentPane {
          opacity: 0.3;
        }
      }
    }
  }
}
