@import "./transitions.scss";

.App {
  $defaultTransition: 1s ease-in-out;

  $fastEnd: 1s cubic-bezier(0.8, 0, 1, 0.2);
  $fastestEnd: 1s cubic-bezier(1, 0, 1, 0);

  $fastStart: 1s cubic-bezier(0, 0.8, 0.2, 1);
  $fastestStart: 1s cubic-bezier(0, 1, 0, 1);

  width: 100%;
  height: 100vh;

  .Guide {
    z-index: 999;
    transition: all $defaultTransition;

    &.CircleContainer div {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

  }

  .browseBy {
    position: absolute;
    top: 94%;
    left: 0;

    height: 40px;

    .SkipIntro {
      transition:
        opacity $defaultTransition,
        color $defaultTransition,
        background-color $defaultTransition,
        margin-right $defaultTransition;

      opacity: 1;

      &::after {
        transition: border-color $defaultTransition;
      }
    }

    .BrowseByBtn.location {
      transition: opacity $defaultTransition;
      opacity: 1
    }
  }

  .ViewOne {
    position: absolute;
    top: 0;

    .row {
      &.intro {
        position: relative;
        top: 0px;
        transition: top $defaultTransition;
      }
      &.explorer {
        position: relative;
        top: 0px;
        transition: top $defaultTransition;
      }
      &.buttons {
        position: absolute;
        bottom: 0;

        .ShortcutInfoBar {
          transition: opacity $defaultTransition;
          opacity: 1;
        }
      }
    }
  }

  .ViewTwo {
    transition: opacity $defaultTransition, left $defaultTransition;
    position: relative;

    left: 0;
    opacity: 1;

    .header,
    .wheel,
    .companyBreakdown,
    .menus {
      transition: opacity $defaultTransition;
    }

    .ConditionDetails {
      .listPane,
      .popout,
      .ProjectHeader,
      .contentPane {
        transition: opacity $defaultTransition;
      }
    }
  }

  .ViewThree {
    transition: opacity $defaultTransition, left $defaultTransition;
    position: absolute;

    top: 0;

    left: 100%;
    opacity: 0;
  }

  .Footer {
    transition: opacity $defaultTransition, top $fastStart;
    position: relative;
    top: 180px;
    // top: 88%;
  }

  &.transition-state-8 {
    .Guide {
      transition: opacity $fastestStart, top 0s 1s, left 0s 1s;
    }
  }

  // Snapping back from View 2 to View 1, using different curves to make it look decent
  &.transition-state-9 {
    .Guide {
      transition: opacity $fastestEnd;
    }

    .browseBy {
      .SkipIntro {
        transition:
          opacity $fastEnd,
          color $fastEnd,
          background-color $fastEnd,
          margin-right $fastEnd;

        &::after {
          transition: border-color $fastEnd;
        }
      }

      .BrowseByBtn.location {
        transition: opacity $fastEnd;
      }
    }

    .ViewOne {
      .row {
        &.intro {
          transition: top $fastEnd;
        }
        &.explorer {
          transition: top $fastEnd;
        }
        &.buttons {

          .ShortcutInfoBar {
            transition: opacity $fastEnd;
          }
        }
      }
    }

    .ViewTwo {
      .header,
      .wheel,
      .companyBreakdown,
      .menus {
        transition: opacity $fastStart;
      }

      .ConditionDetails {
        .listPane,
        .popout,
        .ProjectHeader,
        .contentPane {
          transition: opacity $fastStart;
        }
      }
    }

    .ViewThree {
      transition: opacity $fastStart;
    }

    .Footer {
      transition: opacity $fastStart;
    }
  }
}
