@import '../../styles/colors';

.Guide {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  font-size: 20px;

  pointer-events: none;

  .CircleContainer {
    background: $Guide;

    div {
      margin: 0 10%;
    }
  }
}
