$square-size: 14px;
.FeaturesLegend .LegendItem {
  display: table;
  text-align: left;
  max-height: $square-size;
  margin: 0px;
  margin-top: 1px;
  padding: 0px;
  text-align: left;
  &.Disabled {
    opacity: 0.3;
  }
  .Color {
    display: table-cell;
    height: $square-size;
    width: $square-size;
    content: '';
  }
  .Text {
    line-height: 14px;
    height: 14px;
    display: table-cell;
    padding-left: 10px;
    vertical-align: top;
  }
}
