// TODO: Deployment hacks
@import './styles/fontVariables.scss';

@font-face {
  font-family: 'FiraSansCondensed';
  src: url('./fonts/FiraSansCondensed-Regular.woff2') format('woff2'),
    url('./fonts/FiraSansCondensed-Regular.woff') format('woff'),
}

@font-face {
  font-family: 'FiraSansCondensedBold';
  src: url('./fonts/FiraSansCondensed-Bold.woff2') format('woff2'),
  url('./fonts/FiraSansCondensed-Bold.woff') format('woff'),
}

@font-face {
  font-family: 'FiraSansCondensedItalic';
  src: url('./fonts/FiraSansCondensed-Italic.woff2') format('woff2'),
  url('./fonts/FiraSansCondensed-Italic.woff') format('woff'),;
}

@font-face {
  font-family: 'FiraSansCondensedLight';
  src: url('./fonts/FiraSansCondensed-Light.woff2') format('woff2'),
  url('./fonts/FiraSansCondensed-Light.woff') format('woff'),;
}

.visualization {
  font-family: $fira-sans-condensed;
  font-size: 13px;
  color: #808080;

  * { box-sizing: border-box; }

  .buttonText { color: #D1057A; }

  [tabIndex="0"] { cursor: pointer; }
}

// Override the WET template for our container
body > .container {
  padding-left: 0;
  padding-right: 0;

  // TODO: Deployment hacks
  // This is only used to indicate the division between views right now
  hr { border-top: 2px solid #ccc; }
}

// TODO: deployment hacks
.ProjectMenu { transform: scale(0.8); }
@media (min-width: 1200px) { .ProjectMenu { transform: scale(0.9); } }
body > .container .Wheel button { display: none; }

.ViewTwo, .ViewOne, .ViewThree{
  .row {
    margin-left:0px;
    margin-right:0px;
  }
}  
