// TODO: Deployment hacks
@import './styles/fontVariables.scss';

@font-face {
  font-family: 'FiraSansCondensed';
  src: url('./fonts/FiraSansCondensed-Regular.woff2') format('woff2'),
    url('./fonts/FiraSansCondensed-Regular.woff') format('woff'),
}

@font-face {
  font-family: 'FiraSansCondensedBold';
  src: url('./fonts/FiraSansCondensed-Bold.woff2') format('woff2'),
  url('./fonts/FiraSansCondensed-Bold.woff') format('woff'),
}

@font-face {
  font-family: 'FiraSansCondensedItalic';
  src: url('./fonts/FiraSansCondensed-Italic.woff2') format('woff2'),
  url('./fonts/FiraSansCondensed-Italic.woff') format('woff'),;
}

@font-face {
  font-family: 'FiraSansCondensedLight';
  src: url('./fonts/FiraSansCondensed-Light.woff2') format('woff2'),
  url('./fonts/FiraSansCondensed-Light.woff') format('woff'),;
}

.visualization {
  font-family: $fira-sans-condensed;
  font-size: 13px;
  color: #808080;

  * { box-sizing: border-box; }

  .buttonText { color: #D1057A; }

  [tabIndex="0"] { cursor: pointer; }

  .close {
    font-size: inherit;
    color: inherit;
  }
  // Overwriting styles from theme
  h1, h2, h3, h4, h5, h6 {
    all: unset;
    display: block;
  }
}

// Override the WET template for our container
body > .container {
  padding-left: 0;
  padding-right: 0;

  // TODO: Deployment hacks
  // This is only used to indicate the division between views right now
  hr { border-top: 2px solid #ccc; }

  button {
    background-color: unset;
  }

}
