@import '../../styles/grid';

.Footer {
  @include grid((
    infoBar: 75,
  )) {
    .infoBar {
      position: relative;
      margin: 0 0 0 50% !important;
      transform: translateX(-50%);
    }
  }
}
