@import '../../../styles/colors.scss';

.ProjectHeader {
  height: 24px;

  // margin-left: 48px;

  background-color: $LightGray;

  display: inline-block;
  width: 100%;

  padding-left: 10px;
  padding-right: 10px;

  text-align:left;
  line-height: 24px;
  vertical-align: middle;

  .asterisk {
    color: $LinksTextButtons;
    font-family: 'FiraSansCondensedBold';
  }

  .openProject {
    height: 90%;
  }

  .toggleExpand {
    float: right;

    color: $LinksTextButtons;

    line-height: 24px;

    height: 90%;
  }

  .arrow {
    display: inline-block;
    stroke: $LinksTextButtons;
    stroke-width: 1.5px;
    fill: white;

    vertical-align: middle;

    width: 16px;
    height: 100%;
  }

  .upperCase {
    text-transform: uppercase;
  }
}
