@import '../../styles/colors';
@import '../../styles/fontVariables';

.StreamGraph {
  cursor: pointer;

  h1 {
    margin-top: 10px;
    font-family: $fira-sans-condensed-bold;
    font-weight: normal;
    color: $Black77;
    font-size: 15px;
  }

  .VictoryContainer {
    position: absolute !important;
    top: 0;
    left: 0;
  }
}
