@import '../../styles/colors';
@import '../../styles/fontVariables';

.Streamgraph {
  cursor: pointer;

  &, .Axis-label { color: $Black51; }

  h1 {
    margin: 0;
    font-family: $fira-sans-condensed;
    font-weight: normal;
    color: $Black77;
    font-size: 18px;
  }
}
