@import '../../../styles/colors.scss';

$pipe-color: $LightGreyBackground;
$condition-circle-bg: #a1a8a7;
$selected-condition-circle-bg: #f15a24;
$condition-circle-font: #fff;
$project-chart-line: #a1a8a7;


@mixin angled($direction, $sides, $backgroundColour, $contrastTextColour) {
  position: relative;
  z-index: 1;
  color: $contrastTextColour;

  &:before {
    @include angledTopUp($backgroundColour);
  }
  &:after {
    @include angledBottomUp($backgroundColour);
  }
}

@mixin angledCommon($backgroundColour) {
  background: inherit;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden; // for Chrome Windows
  width: 100%;
  height: 100%;
  background-color: $backgroundColour;
  transform-origin: 0 0;
}

@mixin angledTopUp($backgroundColour) {
  top: 0;
  transform: skewY(-25deg);
  @include angledCommon($backgroundColour);
}

@mixin angledBottomUp($backgroundColour) {
  top: 0;
  transform: skewY(-25deg);
  @include angledCommon($backgroundColour);
}


.ProjectChart {
  width: 100%;
  .ProjectName {
    transform: rotate(25deg);
    text-overflow: ellipsis;
    height: 70px;
    width: 118px;
    margin-left: -85px;
    margin-top: 50px;

    p {
      transform: rotate(-90deg);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 118px;
    }
  }

  .ConditionPipe {
    height: 30px;
    background-color: $pipe-color;

    .ConditionCount {
      background-color: $condition-circle-bg;
      color: $condition-circle-font;
    }
  }

  .FlagWrapper {
    position: relative;
    display: inline-block;
    height: 300px;

    .FlagPole {
      position: absolute;
      top: -15px;
      left: 50%;
      transform: translateX(-50%);

      width: 2px;
      height: 100%;

      background-color: $project-chart-line;
    }

    .FeatureFlag {
      position: relative;
      margin-left: 50%;
    }
  }

  p {
    margin: 0;
  }

  &.selected {
    .ConditionPipe {
      margin: 0;

      .ConditionCount {
        background-color: $selected-condition-circle-bg;
        color: $condition-circle-font;
        position: relative;
        bottom: 10px;
      }
    }

    .FlagPole {
      top: 0;
      width: 30px;
      background-color: $pipe-color;
    }

    .ProjectName {
      left: 3px;
      bottom: 1px;
      margin: 0;
      display: block;
      height: 145px;
      width: 28px;
      @include angled(rightOut, bottomAndTop, $pipe-color, black);
    }
  }

  &:not(.selected) .FeatureFlag {
    .Bar { background-color: #a1a8a7 !important; }
    .FlagTip { border-left-color: #a1a8a7 !important; }
  }
}
