@import '../../../styles/colors';
@import '../../../styles/grid';

$pipe-color: $LightGray;
$condition-circle-bg: $Gray160;
$selected-condition-circle-bg: $MainOrange;
$condition-circle-font: $White;
$project-chart-line: $Gray160;

.ProjectChart {
  position: relative;

  width: 100%;
  height: 100%;

  .ProjectName {
    position: absolute;
    top: 220px;
    @include breakpoint("large") { top: 260px; }
    right: 90%;

    transform: rotate(200deg);

    width: 100%;
    height: 25%;

    text-overflow: ellipsis;
    text-align: right;

    p {
      height: 100%;
      width: 100%;

      overflow: hidden;

      writing-mode: vertical-lr;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .ConditionPipe {
    height: 24px;

    background-color: $pipe-color;
    text-align: center;

    .ConditionCount {
      background-color: $Gray160;
      color: $White;
      font-size: 12px;
    }
  }

  .FlagWrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 200px;
    @include breakpoint("large") { height: 240px; }

    padding-top: 10px;

    .FlagPole {
      position: absolute;
      top: 0px;
      left: 50%;

      transform: translateX(-50%);

      width: 1px;
      height: calc(100% - 6px);

      background-color: $Gray160;
    }

    .FeatureFlag {
      position: relative;
      margin-top: 1px;
      margin-left: 50%;
      width: 50%;
    }
  }

  p {
    margin: 0;
  }

  &.selected {
    .ConditionPipe {
      margin: 0;

      .ConditionCount {
        background-color: $SearchKeyword;
        color: $White;
        position: relative;
        bottom: 10px;

      }
    }

    .FlagPole {
      top: 0;
      width: 24px;
      background-color: $pipe-color;
      height: 100%;
    }

    .SelectedPipe {
      position: absolute;

      z-index: 1;
      width: 24px;
      height: calc(100% - 212px);
      @include breakpoint("large") { height: calc(100% - 252px); }
      background: $pipe-color;
      left: 50%;
      transform: translateX(-50%) skewX(-20deg);
      transform-origin: top right;
    }
  }

  &:not(.selected) .FeatureFlag {
    .Bar {
      background-color: $Gray160 !important;
      border-left-color: $Gray160 !important;
    }
  }
}
