@import "../../styles/fontVariables.scss";
@import "../../styles/colors.scss";

.UnsupportedWarning {
  max-width: 750px;
  margin: 0 auto;
  padding: 10%;

  h1 {
    text-align: center;
    font-family: $fira-sans-condensed-bold;
    font-size: 24px;
    color: $Black51;
    text-transform: uppercase;
    margin-bottom: 4px;
  }

  p {
    text-align: center;
  }
}
